#a {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

#b {
    height: 220px;
    width: 200px;
    transform: translate(100px, 100px);
    border: 2px solid black;
}

#b:hover {
    border: 2px solid black;
    /* transform: translate(200px, 150px) rotatex(45deg) rotatey(45deg) scale(-1,2); */
    transform: translate(100px, 100px) skew(360deg, 360deg) scale(-1, -1);
    transition: 5000ms;
}