#a {
    height: 280px;
    width: 500px;
    background-color: pink;
    transition-property: all;
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
    transition-delay: 500ms;
}

#a:hover {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    transform: translate(100px, 100px);
    background-color: lightskyblue;
}

#b {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    transition-property: all;
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
}

#b:hover {
    position: absolute;
    /* background-color: aqua; */
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-image: repeating-radial-gradient(black 10%, white 15%);
    transform: translate(200px, 200px) rotate(360deg);
}